:root {
  --primary-color: #333333;
  --secondary-color: #fff;

  --form-color: #808080;
  --titlle-hero-color: #e9e9e9;

  --bg-color-blog-section: #0284d0;
  --shadow-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  --primary-bg-color: #fff;
  --secondary-bg-color: #28a745;
  --third-bg-color: #f4f4f4;

  --button-active-blue: #0376b8;
  --button-active-green: #23913d;

  --time: 250ms;
  --cubic: ease;
}

/* Стили для обнуления верхних отступов у элементов */

h1,
h2,
h3,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* стилі для index.html */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-color);

  background-color: var(--primary-bg-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1330px;
  /* padding: 0 15px 0 15px; */
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* header */
.header {
  width: 100%;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 48px;
  max-width: 1360px;
  padding-top: 5px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  font-size: 35px;
  line-height: calc(42 / 35);
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  text-decoration: none;
}

.logo-icon {
  display: block;
  fill: var(--secondary-bg-color);
  margin-right: 10px;
}

.logo-span {
  display: block;
  color: var(--secondary-bg-color);
  margin-right: 10px;
}

.header-list {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 38px;
  color: var(--secondary-color);
  list-style: none;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.heder-link {
  color: var(--secondary-color);
  text-decoration: none;
  padding-bottom: 16px;
  padding-top: 16px;
  display: block;
}

.heder-link:hover,
.heder-link:focus {
  color: var(--button-active-green);
}

/* Hero */
.ovarlay {
  max-width: 1360px;
  height: 768px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/city.jpg");
  background-color: var(--primary-color);
  background-position: center;
  background-size: cover;
}

.hero {
  text-align: center;
}

.hero-container {
  padding-top: 210px;
  padding-bottom: 284px;
}

.hero-titlle {
  margin-bottom: 25px;
  margin-top: 0;
  color: var(--titlle-hero-color);
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
}

.hero-descr {
  margin-top: 0;
  margin-bottom: 29px;
  color: var(--titlle-hero-color);
  font-size: 22px;
  line-height: 1.68;
}

.hero-button {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0 auto;
  padding: 10px 30px 9px 41px;
  min-width: 92px;
  text-align: center;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: var(--secondary-color);
  fill: currentColor;
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  line-height: 1.56;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-green);
  box-shadow: var(--shadow-btn);
}

/* Benefits */

.benefits {
  display: flex;
  padding: 0 66px;

  justify-content: space-between;
}

.benefits-item {
  display: block;
  width: 362px;
  text-align: center;
}

.benefits-icon {
  display: inline-flex;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 67px;
  height: 67px;

  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--secondary-color);
}

.lead {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.text {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

/* Переваги */

.solutions {
  display: flex;
}

.solutions-desk {
  padding: 84px 44px 84px 30px;

  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
}

.section-title {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.solutions-subtitle {
  margin-bottom: 26px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.solutions-text {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.button {
  display: block;
  min-width: 167px;
  padding: 12px 0;

  border: 1px solid var(--secondary-color);
  border-radius: 5px;

  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

/* section 5,6 */
.container__article {
  display: flex;
  justify-content: center;
}

.cases {
  padding: 50px 0 47px;
}

.list.cases__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 7px;
}

.cases__title {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 15px;
}

.cases__subtitle {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.263;
  text-align: center;
  margin-bottom: 34px;
}

.cases__descr {
  line-height: 1.556;
  text-align: center;
  margin-bottom: 39px;
}

.post__date {
  font-size: 20px;
  line-height: 1.65;
  color: #ffffff;
  margin-bottom: 5px;
}

.post__content {
  max-width: 665px;
  padding-top: 112px;
  padding-left: 30px;
  background: #0284d0;
  border-radius: 0px;
}

.post__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.263;
  color: #ffffff;
  margin-bottom: 26px;
}

.post__descr {
  line-height: 1.556;
  color: #ffffff;
  margin-bottom: 17px;
}

.post__button {
  line-height: 28px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #0284d0;
  padding: 11px 31px 10px 42px;
}

.post__image {
  max-width: 665px;
}

/*Наша команда */

.worker-section {
  padding-top: 49px;
  padding-bottom: 59px;
}

.worker-container {
  padding-left: 30px;
  padding-right: 30px;
  width: 1330px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 34px;
}

.small-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.pd {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 45px;
  padding: 0;
}

.worker {
  display: flex;
  gap: 15px;
}

.worker .item-work+.item-work {
  margin-left: 19px;
}

.value {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 12px;
}
.team-item{
  position: relative;
}
.item-work{
  position: relative;
}

.icons-list {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 130px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person:hover ~ .icons-list,
.icons-list:hover{
  opacity: 1;
}

/*.icons-list .item {
  width: 35px;
  height: 35px;
}*/

.social-icons {
  fill: #FFFFFF;
}

.team-item:not(:last-child) {
  margin-right: 25px;
}


.callback-container {
  width: 1330px;
  display: flex;
  align-items: center;

  background-color: var(--third-bg-color);
}

.callback-box {
  width: 100%;
  /*   flex-grow: 1;
  flex-shrink: 0; */
  padding: 70px 30px 82px 30px;
}

.form-input {
  padding: 6px 5px 5px 5px;
  height: 40px;
  width: 100%;

  border: 1px solid #f5f5f5;
  border-radius: 0px;
}

.form-input:focus {
  outline: 1px solid var(--button-active-green);
}

.form-input,
.form-input::placeholder {
  font-size: 18px;
  line-height: 1.56;
  color: var(--form-color);
}

.form-input:nth-child(1) {
  margin-bottom: 36px;
}

.form-input:nth-child(2) {
  margin-bottom: 60px;
}

.callback-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.263;
  margin-bottom: 34px;
  color: var(--primary-color);
}

.form-btn {
  padding-top: 7px;
  padding-bottom: 10px;
  width: 100%;

  line-height: 1.39;
  color: var(--secondary-color);

  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  box-shadow: var(--shadow-btn);
  background-color: var(--button-active-green);
}

/* Футер */

.foot {
  background-color: #333333;
  padding: 20px 16px;
  margin-left: auto;
  margin-right: auto;
  width: 1330px;
 
    
}

.icon-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
}

.footer-item:not(:last-child) {
  margin-right: 25px;
}

.icon-list .item {
  width: 35px;
  height: 35px;

}

.pf {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.social-links {
  display: flex;
  align-items: center;
  height: 100%;
}
