:root {
    --brand-color: #28A745;
    --white-color: #FFFFFF;
    --secondary-color: #e9e9e9;
    --text-color: #333333;
    --form-color: #808080;
}

/* Стили для обнуления верхних отступов у элементов */

h1,
h2,
h3,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}

/* стилі для index.html */
body {
    color: var(--text-color);
    font-family: Open Sans;
}

/* header */
.section {
    margin: auto;
    padding: 0;
    width: 1390px;
    padding: 0 15px 0 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1360px;
    padding: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.logo {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding-top: 11px;

    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}

/* Hero */

/* Benefits */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.benefits {
    display: flex;
    padding: 0 66px;

    justify-content: space-between;
}

.benefits-item {
    display: block;
    width: 362px;
    text-align: center;
}

.benefits-icon {
    display: inline-flex;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 67px;
    height: 67px;

    background-color: var(--brand-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--white-color);
}

.lead {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
}

.text {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

/* Переваги */

.solutions {
    display: flex;
}

.solutions-desk {
    padding: 84px 44px 84px 30px;

    background-color: var(--brand-color);
    color: var(--white-color);
}

.section-title {
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
}

.solutions-subtitle {
    margin-bottom: 26px;

    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
}

.solutions-text {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

.button {
    display: block;
    min-width: 167px;
    padding: 12px 0;

    border: 1px solid var(--white-color);
    border-radius: 5px;

    background-color: var(--brand-color);
    color: var(--white-color);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

/* секції 5, 6 */

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

.img {
  padding: 0;
  display: block;
}

.list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0 15px;
  width: 1360px;
}

.cases {
  padding: 50px 0 47px;
}

.list.cases__list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 7px;
}

.cases__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 15px;
}

.cases__subtitle {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.263;
  text-align: center;
  margin-bottom: 34px;
}

.cases__descr {
  line-height: 1.556;
  text-align: center;
  margin-bottom: 39px;
}

.post__date {
  font-size: 20px;
  line-height: 1.65;
  color: #ffffff;
  margin-bottom: 5px;
}

.post__content {
  max-width: 665px;
  padding-top: 112px;
  padding-left: 30px;
  background: #0284d0;
  border-radius: 0px;
}

.post__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.263;
  color: #ffffff;
  margin-bottom: 26px;
}

.post__descr {
  line-height: 1.556;
  color: #ffffff;
  margin-bottom: 17px;
}

.post__button {
  line-height: 28px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #0284d0;
  padding:  11px 31px 10px 42px;
}

.post__image {
  max-width: 665px;
}
